<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>
<body>
    <div class="container">
    <h1 class="two">Float Property</h1>
    <img id="box" src="user1.png" alt="">
    <h2 class="one">Resume</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero neque repellat nisi nostrum, assumenda earum odit, tempore nesciunt nulla quidem in dolorem distinctio, dignissimos minima maiores quae. Fuga, accusantium tempore.</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur voluptate at labore quos non, reiciendis enim, reprehenderit impedit corporis adipisci error totam. Eum, ullam cupiditate nemo nisi ab expedita magnam.s</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ipsa iste repellat blanditiis nemo ratione aut neque cum vitae minus voluptatum assumenda consequuntur vel optio sit molestias earum enim non fugiat voluptates velit recusandae eius. Vel asperiores sint, veritatis ullam dolor perferendis? Voluptate quae placeat officiis perspiciatis dolorum dicta dolores.</p>
</div>
</body>
</html>